<div class="create-wrapper col-12">
    <div class="col-12 header"> Add Family Member </div>

    <div class="col-10 offset-1 pt-4">
        <div class="row mt-2">
            <div class="col-6 custom-input">
                <FieldLabel>First Name</FieldLabel>
                <input type="text" class="form-control" id="firstName" />
            </div>
            <div class="col-6 custom-input">
                <FieldLabel>Last Name</FieldLabel>
                <input type="text" class="form-control" id="lastName" />
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 custom-input">
                <FieldLabel>Email Address</FieldLabel>
                <input type="text" class="form-control" id="email" />
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 custom-input">
                <FieldLabel>Roles</FieldLabel>
                <input type="text" class="form-control" id="role" />
            </div>
        </div>
        <div class="pt-3">
            <FieldLabel>Avatar</FieldLabel>
        </div>
        <input type="hidden" id="avatar" />
        <div class="row mt-2">
            <Field class="col-9 custom-input">
                <div class="avtar avtr-select" data-avatar="#fe4e4e" style="background-color: #fe4e4e;"></div>
                <div class="avtar avtr-select" data-avatar="#feb84e" style="background-color: #feb84e;"></div>
                <div class="avtar avtr-select" data-avatar="#feec4e" style="background-color: #feec4e;"></div>
                <div class="avtar avtr-select" data-avatar="#3ec732" style="background-color: #3ec732;"></div>
                <div class="avtar avtr-select" data-avatar="#4efef3" style="background-color: #4efef3;"></div>
                <div class="avtar avtr-select" data-avatar="#4e7ffe" style="background-color: #4e7ffe;"></div>
                <div class="avtar avtr-select" data-avatar="#e54efe" style="background-color: #e54efe;"></div>
                <div class="avtar avtr-select" data-avatar="#c17216" style="background-color: #c17216;"></div>
            </Field>
            <div class="col-3 text-right">
                <input type="button" class="btn btn-primary" value="Add Member" onclick="addMember()" />
            </div>
        </div>
    </div>
</div>


