@model IEnumerable<FamilyTask.DataAccess.Data.Entities.Member>
<div class="menu-wrapper col-12 p-0">
    <div class="menu-item col-10 offset-1 p-3 my-4 p-sm-2">
        <div class="label"> All Tasks </div>
    </div>

    <div id="member-list" class="scroll"></div>

    <a class="add-menu-item label col-10 offset-1 p-3 my-4 p-sm-2" onclick="memberShow()">
        <span class="fa fa-plus"></span> &nbsp; Add Member
    </a>
</div>
