<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Family</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/app.css" rel="stylesheet" />
    <link href="~/css/fonts.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="main">
            <div class="top-row row m-0 col-12 px-4">
                <div class="col-6 p-0">
                    <img class="logo" src="/assets/images/logo.svg" />
                </div>
                <div class="col-6 p-0 d-flex justify-content-end">
                    <a class="label custom-btn py-2 px-5 mx-2 py-sm-1 px-sm-3"  To="members" href="/"> Members </a>
                    <a class="label custom-btn py-2 px-5 mx-2 py-sm-1 px-sm-3" To="manage-tasks" href="#"  onclick="taskShow()"> Manage Tasks </a>
                </div>
            </div>
        </div>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Family.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
